<h1>Posts</h1>
<%= link_to "Create New Post", new_posts_path  %>
<%= button_to "Logout", destroy_user_session_path, method: :delete  %>




<% @posts.each do |post|%>
<div>
<p><%= post.title%></p>
<p><%= post.body%></p>
<p>Author:<%= @user.email if @user == current_user %></p>
</div>
<% end %>
